.user {
    display: flex;
    align-items: center;
    cursor: pointer;
}
.user + .user {
    margin-top: 18px;
}
.user-img {
    border-radius: 50%;
    width: 45px;
    height: 45px;
    margin-right: 15px;
    object-fit: cover;
    object-position: center;
    border: 2px solid #e2b96c;
}

.username {
    font-size: 15px;
    font-family: "DM Sans", sans-serif;
}
.user-date {
    font-size: 15px;
    color: #595c6c;
    margin-top: 4px;
    font-family: "Source Sans Pro", sans-serif;
    
}