.follow-me {
    text-decoration: none;
    font-size: 14px;
    display: flex;
    align-items: center;
    margin-top: auto;
    overflow: hidden;
    color: #9c9cab;
    padding: 0 20px;
    height: 52px;
    flex-shrink: 0;
    border-top: 1px solid #272a3a;
    position: relative;
}
.follow-me i {
    width: 16px;
    height: 16px;
    margin-right: 8px;
}
.follow-text {
    display: flex;
    align-items: center;
    transition: 0.3s;
}
.follow-me:hover .follow-text {
    transform: translateY(100%);
}
.follow-me:hover .follow-user {
    top: 0;
}
.follow-user {
    position: absolute;
    color: #fff;
    left: 0;
    top: -100%;
    display: flex;
    transition: 0.3s;
    padding: 0 20px;
    align-items: center;
    background-color: #272a3a;
    width: 100%;
    height: 100%;
}
.follow-user img {
    border-radius: 50%;
    width: 26px;
    height: 26px;
    object-fit: cover;
    margin-right: 10px;
}