.signin {
    background-color: #d3d3d3;
    font-family: 'Montserrat', sans-serif;
    color: #fff;
    font-size: 14px;
    letter-spacing: 1px;
  }
  
  .login {
    position: relative;
    height: 520px;
    width: 405px;
    margin: 20px auto;
    border-radius: 20px;
    padding: 20px 60px;
    background: url('../../../img/login-min.jpg') no-repeat center;
    background-size: cover;
    box-shadow: 0px -7px 48px -18px white;
    opacity: 0.7;
  }
  .login form  {
    text-align: center;
  }
  
  .active {
    border-bottom: 2px solid #1161ed;
    color:white
  }
  
  .nonactive {
    color: rgba(255, 255, 255, 0.2);
  }
  
  .login a {
    margin-left: 12px;
    font-size: 22px;
    text-transform: uppercase;
    padding-bottom: 5px;
    letter-spacing: 2px;
    display: inline-block;
    font-weight: 100;
    text-decoration: none;
  }
  
  .login a:first-child {
    padding-left: 0px;
  }
  
  .login label {
    text-transform: uppercase;
    font-size: 12px;
    display: inline-block;
    position: relative;
    transition: all 0.5s ease-in-out;
    color:white;
    padding-top: 10px;
    padding-left: 5px;

  }
  
  
  .gender form input,
  .login form input {
    font-family: 'Montserrat', sans-serif;
    color: #fff;
    text-align: center;
  }
  
  .gender form input {
    display: inline-block;
    padding-top: 20px;
    font-size: 14px;
  }
  
  
  .gender  {
    display: flex;
    justify-content: center;
    margin-top:20px;
  }
  .gender input {
    height: 5px;
    margin-right: 65px;
    margin-left: 15px;
  }
  .gender label {
    margin-left:50px
  }
  
  
  .signin {
    background-color: #1161ed;
    color: #FFF;
    width: 100%;
    padding: 10px 20px;
    display: block;
    height: 39px;
    border-radius: 20px;
    margin-top: 30px;
    transition: all 0.5s ease-in-out;
    border: none;
    text-transform: uppercase;
  }
  
  .signin:hover {
    background: #4082f5;
    box-shadow: 0px 4px 35px -5px #4082f5;
    cursor: pointer;
  }
  
  .signin:focus {
    outline: none;
  }

  .form-login {
    margin-top: 68px;
  }
  .login-button {
    margin-top:170px
  }

 