.color-orange {
  background-color: #f0ad4e;
}

.color-red {
  background-color: #d9534f;
}

.color-blue {
  background-color: #337ab7;
}

.color-green {
  background-color: #5cb85c;
}

* {
  outline: none;
  box-sizing: border-box;
}

body {
  background-image: url('https://steamcdn-a.akamaihd.net/steamcommunity/public/images/items/552980/e2f0148bc66a10e6fc9a327de8006a140f8e09b3.jpg');
  background-size: cover;
  color: #ccc8db;
  font-family: "Source Sans Pro", sans-serif;
}

::-webkit-scrollbar {
  width: 10px;
  border-radius: 10px;
}
/* Track */
::-webkit-scrollbar-track {
  background: rgba(255, 255, 255, 0.01);
}
/* Handle */
::-webkit-scrollbar-thumb {
  background: rgba(255, 255, 255, 0.11);
  border-radius: 10px;
}
/* Handle on hover */
::-webkit-scrollbar-thumb:hover {
  background: rgba(255, 255, 255, 0.1);
}
